{% extends 'base.html' %} {% load static %} {% block title %}Home{% endblock %}
{% block style %} <link href='{% static 'sportiasts/main.css' %}'
rel='stylesheet'/> {% endblock style %} {% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Sportiasts</h1>
    <p class="lead">Connecting the Sports Enthusiasts.</p>
  </div>
</div>
<div class="container" style="margin-top: 40px">
  <form method="get" action="{% url 'search'%}">
    <input type="text" name="q" style="float: right" />
    <button type="submit" class="btn btn-primary" style="float: right">
      <i class="fa fa-search"></i>
    </button>
  </form>
  {% if user.is_authenticated %}
  <div style="float: left; margin-bottom: 40px">
    <a href=" {% url 'myevent' %} "><i class="fa fa-user fa-4x"></i></a>
  </div>
  <div style="float:center; margin=40px;">
    <p>
      <a href="{% url 'createvent' %}" class="btn btn-primary">Create Event</a>
    </p>
  </div>
  <div class="events container">
    <div class="row" style="padding: 5">
      {% for event in events %} {% if event.is_due %} {% else %}
      <div class="card text-dark bg-light mb-3" style="max-width: 18rem">
        <div class="card-header">
          <h1>
            <a href="{% url 'eventdetail' event.slug%}">{{event.eventt}}</a>
          </h1>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{event.date}} at {{event.time}}</h5>
          {% if event.is_today %} **Happening Today** {% endif %}

          <p class="card-text">{{event.location}}</p>
        </div>
      </div>
      {% endif %} {% endfor %}
    </div>

    {% else %}

    <div style="margin-bottom: 100px">
      <h1>You are not logged in</h1>

      <a href="{% url 'login' %}" class="btn btn-primary">Log In</a>
      <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a>
    </div>
    <div class="events container">
      <div class="row" style="padding: 5">
        {% for event in events %} {% if event.is_due %} {% else %}
        <div class="card text-dark bg-light mb-3" style="max-width: 18rem">
          <div class="card-header"><h1>{{event.eventt}}</h1></div>
          <div class="card-body">
            <h5 class="card-title">{{event.date}} at {{event.time}}</h5>
            {% if event.is_today %} **Happening Today** {% endif %}

            <p class="card-text">{{event.location}}</p>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>

      {% endif %}
    </div>
    <a href="{% url 'archive' %}"/> <button class="btn btn-primary">Recent Events</button></a>
    {% endblock %}
  </div>
</div>
