<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link href="bulma/css/bulma.min.css" rel="stylesheet">
  <title>{% block title %}Sportiasts{% endblock %}</title>
</head>
<body>
  <section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Sportiasts
    </p>
    <!--
    <p class="subtitle">
      Hero subtitle
    </p>
    -->
  </div>
</section>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Sportiasts</strong> by Yuvraj Subedi, Frederick Fikter, and Bryce Allen</a>.
    </p>
  </div>
</footer>
</body>
</html>